* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
}

li a:hover{
    color: white;
    background-color: #374a67;
    padding: 5px;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 60em) {
  .hidden {
    display: block;
  }
  #burger {
    display: none;
  }
  header ul {
    display: flex;
  }
}
