* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
}

li a:hover {
  color: white;
  background-color: #374a67;
  padding: 5px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 5%;
  padding-right: 5%;
}

#burger {
  border: none;
  background: transparent;
}

#hero {
  background-image: url("img/intro.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

h2 {
  text-align: center;
}

.button {
  border: #374a67 solid 2px;
  background-color: white;
  color: #374a67;
  padding: 16px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 8px;
  transition: 0.375s;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #374a67;
  color: white;
}

.karte {
  color: #333;
  text-align: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  margin: 8px;
}

.karte img {
  width: 100%;
}

.karte p {
  color: #828282;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.3);
  padding-left: 16px;
  padding-right: 16px;
}

.button-blue {
  background: #374a67;
  color: white;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: block;
  transition: 0.4s;
}

.button-blue:hover {
  background: white;
  color: #374a67;
}

.box {
  color: white;
  background: #04122b;
  text-align: center;
  font-weight: bold;
  padding: 64px 16px;
}

form input,
form button {
  border-radius: 5px;
  padding: 16px;
}

form .button {
  color: #333;
  text-transform: uppercase;
  background: white;
  font-weight: bold;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-rechts ul {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.footer {
  padding: 48px 5%;
}


@media (min-width: 60em) {
  .hidden {
    display: block;
  }

  #burger {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .reihe {
    display: flex;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .nav-rechts ul {
    display: flex;
  }


}
