* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
}

li a:hover {
  color: white;
  background-color: #374a67;
  padding: 5px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 5%;
  padding-right: 5%;
}

#burger {
  border: none;
  background: transparent;
}

#hero {
  background-image: url('img/intro.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.button {
  border: #374a67 solid 2px;
  background-color: white;
  color: #374a67;
  padding: 16px;
  border-radius: 5px;
}


@media (min-width: 60em) {
  .hidden {
    display: block;
  }
  #burger {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
